Estudo do código novo: Game Alite
github: https://github.com/labase/data_edu/blob/main/alite/alite_game_spike.ipynb
arquivos: GameAlite.py , alite.csv

In [1]:
from GameAlite import Players

dados = Players().players_alite()
print(dados)

                                    _id                name   ano       sexo
0  ObjectId('6477ce20f626d3cb95e08c8f')               admin  ano1  masculino  \
1  ObjectId('6477cf19f626d3cb95e08c92')               outro  ano2   feminino
2  ObjectId('647b8008f626d3cb95e08c98')         Pedro Lomba  ano9  masculino
3  ObjectId('647b85f9f626d3cb95e08c9b')              daniel  ano9  masculino
4  ObjectId('647b86cbf626d3cb95e08c9d')            kduzinho  ano1  masculino
5  ObjectId('647b8f68f626d3cb95e08c9f')  Carolina Fantinato  ano9   feminino
6  ObjectId('647fa41a442f27c3f236c16c')              labase  ano1  masculino
7  ObjectId('649d7851b9995c27c863da60')         labase anni  ano1   feminino

    idade                              time
0  anos10  2023-05-31 19:45:52.561244-03:00  \
1   anos9  2023-05-31 19:50:01.899904-03:00
2  anos10  2023-06-03 15:01:44.637563-03:00
3  anos10  2023-06-03 15:27:05.449207-03:00
4   anos1  2023-06-03 15:30:35.506478-03:00
5  anos10  2023-06-03 16:07:20.229405-03:00
6   anos1  2023-06-06 18:24:42.655420-03:00
7  anos10  2023-06-29 09:25:53.347255-03:00

                                               games
0  [{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor...
1  [{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor...
2  [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
3  [{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor...
4  [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
5  [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
6  [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
7  [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...

In [2]:
dados.games

0    [{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor...
1    [{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor...
2    [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
3    [{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor...
4    [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
5    [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
6    [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
7    [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
Name: games, dtype: object

In [3]:
from GameAlite import AlitePandas

rp = AlitePandas()
rp.data

,id,name,ano,sexo,idade,time,games
0,ObjectId('6477ce20f626d3cb95e08c8f'),admin,ano1,masculino,anos10,2023-05-31 19:45:52.561244-03:00,"[{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor..."
1,ObjectId('6477cf19f626d3cb95e08c92'),outro,ano2,feminino,anos9,2023-05-31 19:50:01.899904-03:00,"[{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor..."
2,ObjectId('647b8008f626d3cb95e08c98'),Pedro Lomba,ano9,masculino,anos10,2023-06-03 15:01:44.637563-03:00,"[{'game': 'game', 'goal': 0, 'trial': 0, 'scor..."
3,ObjectId('647b85f9f626d3cb95e08c9b'),daniel,ano9,masculino,anos10,2023-06-03 15:27:05.449207-03:00,"[{'game': 'wcst', 'goal': 0, 'trial': 0, 'scor..."
4,ObjectId('647b86cbf626d3cb95e08c9d'),kduzinho,ano1,masculino,anos1,2023-06-03 15:30:35.506478-03:00,"[{'game': 'game', 'goal': 0, 'trial': 0, 'scor..."
5,ObjectId('647b8f68f626d3cb95e08c9f'),Carolina Fantinato,ano9,feminino,anos10,2023-06-03 16:07:20.229405-03:00,"[{'game': 'game', 'goal': 0, 'trial': 0, 'scor..."
6,ObjectId('647fa41a442f27c3f236c16c'),labase,ano1,masculino,anos1,2023-06-06 18:24:42.655420-03:00,"[{'game': 'game', 'goal': 0, 'trial': 0, 'scor..."
7,ObjectId('649d7851b9995c27c863da60'),labase anni,ano1,feminino,anos10,2023-06-29 09:25:53.347255-03:00,"[{'game': 'game', 'goal': 0, 'trial': 0, 'scor..."

In [4]:
dados = rp.data
print(dados['name'] =="labase anni")

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
Name: name, dtype: bool

In [5]:
dados.iloc[7]

id                    ObjectId('649d7851b9995c27c863da60')
name                                           labase anni
ano                                                   ano1
sexo                                              feminino
idade                                               anos10
time                      2023-06-29 09:25:53.347255-03:00
games    [{'game': 'game', 'goal': 0, 'trial': 0, 'scor...
Name: 7, dtype: object

In [6]:
dados_jogador = dados.iloc[7]['games']
dados_jogador

'[{\'game\': \'game\', \'goal\': 0, \'trial\': 0, \'scorer\': "ObjectId(\'649d78a9b9995c27c863da61\')"}, {\'game\': \'game\', \'goal\': 0, \'trial\': 1, \'scorer\': "ObjectId(\'649d7987b9995c27c863da62\')"}, {\'game\': \'wcst\', \'goal\': 0, \'trial\': 0, \'scorer\': "ObjectId(\'649d7991b9995c27c863da63\')"}]'

In [8]:
from GameAlite import Players
dados_jogador_anni = Players().one_player(play_url= "649d7851b9995c27c863da60")
dados_jogador_anni.games

0    {'game': 'game', 'goal': 0, 'trial': 0, 'score...
1    {'game': 'game', 'goal': 0, 'trial': 1, 'score...
2    {'game': 'wcst', 'goal': 0, 'trial': 0, 'score...
Name: games, dtype: object

In [9]:
dados_jogador_anni.games.to_list()

[{'game': 'game',
  'goal': 0,
  'trial': 0,
  'scorer': "ObjectId('649d78a9b9995c27c863da61')"},
 {'game': 'game',
  'goal': 0,
  'trial': 1,
  'scorer': "ObjectId('649d7987b9995c27c863da62')"},
 {'game': 'wcst',
  'goal': 0,
  'trial': 0,
  'scorer': "ObjectId('649d7991b9995c27c863da63')"}]

In [12]:
import pandas as pd

dados_jogos_anni = pd.DataFrame(dados_jogador_anni.games.to_list())
dados_jogos_anni

   game  goal  trial                                scorer
0  game     0      0  ObjectId('649d78a9b9995c27c863da61')
1  game     0      1  ObjectId('649d7987b9995c27c863da62')
2  wcst     0      0  ObjectId('649d7991b9995c27c863da63')

In [5]:
from GameAlite import Players
dados_jogos_anni = Players().one_player_games(play_url= "649d7851b9995c27c863da60")
dados_jogos_anni.explode('scorer')

,_id,name,game,goal,trial,scorer
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,"{'carta': '__I_N_I_T__', 'casa': '0_0', 'move'..."
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,"{'carta': '__A_T_I_V_A__', 'casa': '0_0', 'mov..."
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,"{'carta': '19_41_30', 'casa': '0_0', 'move': '..."
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,"{'carta': '19_41_30', 'casa': '0_0', 'move': '..."
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,"{'carta': '19_41_30', 'casa': '0_0', 'move': '..."
...,...,...,...,...,...,...
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,"{'carta': 60, 'casa': 'Duas Estrelas Verdes', ..."
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,"{'carta': 61, 'casa': 'Quatro Círculos Azuis',..."
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,"{'carta': 62, 'casa': 'Três Cruzes Amarelas', ..."
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,"{'carta': 63, 'casa': 'Duas Estrelas Verdes', ..."
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,"{'carta': 64, 'casa': 'Um Triângulo Vermelho',..."

In [6]:
import pandas as pd

df_anni = dados_jogos_anni.explode('scorer')
df_anni_x = df_anni.drop(columns=["scorer"], inplace=False).join(
    df_anni.apply(lambda x: pd.Series(x["scorer"].values(), index=x["scorer"].keys()), axis=1))
df_anni_x

,_id,name,game,goal,trial,carta,casa,move,ponto,valor,time
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,__I_N_I_T__,0_0,ok,_INIT_,True,2023-06-29 09:27:28.882999
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,__A_T_I_V_A__,0_0,ok,_LINGUA_,True,2023-06-29 09:27:41.177000
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,19_41_30,0_0,ok,_FALA_,True,2023-06-29 09:28:18.809000
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,19_41_30,0_0,ok,_FALA_,True,2023-06-29 09:28:22.730999
0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,19_41_30,0_0,ok,_FALA_,True,2023-06-29 09:28:23.500999
...,...,...,...,...,...,...,...,...,...,...,...
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,60,Duas Estrelas Verdes,Dois Círculos Verdes,600,1015,2023-06-29 09:34:18.774000
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,61,Quatro Círculos Azuis,Quatro Cruzes Azuis,700,1015,2023-06-29 09:34:20.644000
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,62,Três Cruzes Amarelas,Três Cruzes Amarelas,800,1115,2023-06-29 09:34:22.278000
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,63,Duas Estrelas Verdes,Dois Triângulos Vermelhos,900,0015,2023-06-29 09:34:24.244000
2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,64,Um Triângulo Vermelho,Uma Cruz Amarela,1000,0015,2023-06-29 09:34:26.006000

In [24]:
df_anni_l = pd.DataFrame(df_anni.scorer.values.tolist())
df_anni_x = df_anni.drop(columns=["scorer"], inplace=False).reset_index()
df = df_anni_x.join(df_anni_l)
df

,index,_id,name,game,goal,trial,carta,casa,move,ponto,valor,time
0,0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,__I_N_I_T__,0_0,ok,_INIT_,True,2023-06-29 09:27:28.882999
1,0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,__A_T_I_V_A__,0_0,ok,_LINGUA_,True,2023-06-29 09:27:41.177000
2,0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,19_41_30,0_0,ok,_FALA_,True,2023-06-29 09:28:18.809000
3,0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,19_41_30,0_0,ok,_FALA_,True,2023-06-29 09:28:22.730999
4,0,ObjectId('649d7851b9995c27c863da60'),labase anni,game,0,0,19_41_30,0_0,ok,_FALA_,True,2023-06-29 09:28:23.500999
...,...,...,...,...,...,...,...,...,...,...,...,...
146,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,60,Duas Estrelas Verdes,Dois Círculos Verdes,600,1015,2023-06-29 09:34:18.774000
147,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,61,Quatro Círculos Azuis,Quatro Cruzes Azuis,700,1015,2023-06-29 09:34:20.644000
148,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,62,Três Cruzes Amarelas,Três Cruzes Amarelas,800,1115,2023-06-29 09:34:22.278000
149,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,63,Duas Estrelas Verdes,Dois Triângulos Vermelhos,900,0015,2023-06-29 09:34:24.244000
150,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,64,Um Triângulo Vermelho,Uma Cruz Amarela,1000,0015,2023-06-29 09:34:26.006000

In [25]:
df_wis = df.loc[df['game'] == 'wcst']
df_wis

,index,_id,name,game,goal,trial,carta,casa,move,ponto,valor,time
86,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,0,no no no,no no no,000,0000,2023-06-29 09:31:16.718000
87,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,1,Duas Estrelas Verdes,Um Triângulo Verde,100,1000,2023-06-29 09:31:26.392000
88,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,2,Duas Estrelas Verdes,Quatro Cruzes Vermelhas,011,0000,2023-06-29 09:31:27.069000
89,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,3,Duas Estrelas Verdes,Dois Triângulos Azuis,000,0010,2023-06-29 09:31:38.566000
90,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,4,Um Triângulo Vermelho,Um Círculo Vermelho,100,1010,2023-06-29 09:31:41.463000
...,...,...,...,...,...,...,...,...,...,...,...,...
146,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,60,Duas Estrelas Verdes,Dois Círculos Verdes,600,1015,2023-06-29 09:34:18.774000
147,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,61,Quatro Círculos Azuis,Quatro Cruzes Azuis,700,1015,2023-06-29 09:34:20.644000
148,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,62,Três Cruzes Amarelas,Três Cruzes Amarelas,800,1115,2023-06-29 09:34:22.278000
149,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,63,Duas Estrelas Verdes,Dois Triângulos Vermelhos,900,0015,2023-06-29 09:34:24.244000
150,2,ObjectId('649d7851b9995c27c863da60'),labase anni,wcst,0,0,64,Um Triângulo Vermelho,Uma Cruz Amarela,1000,0015,2023-06-29 09:34:26.006000